{% extends 'base.html' %}
 {% load static %}
 {% block title %}
 Listar Veículos
 {% endblock title %}
 {% block content %}
 <h2><center><body>Lista de Reservas</body></center></h2>
<br></br><br></br>
<table id="customers">
  <tr>
    <th>Data de inicio</th>
    <th>Data de término</th>
    <th>Veículo</th>
    <th>Motorista</th>
    <th>Estado da reserva</th>
    <th>Cancelar reserva</th>
  </tr>
  {% for reserva in lista %}
      <tr>
        <td>{{reserva.data_inicio}}</td>
        <td>{{reserva.data_final}}</td>
        <td>{{reserva.veiculo}}</td>
        <td>{{reserva.motorista}}</td>
        <td>{{reserva.estado_reserva}}</td>
        <td>
            {% if reserva.estado_reserva == 'Confirmado' %}
                <form method="get">
                  <span class="input-group-btn">
                    <button name='cancelar_reserva' value='{{reserva.pk}}' class="btn_cancel btn-default" type="submit">X</button>
                  </span>
                </form>
            {% endif %}
        </td>
      </tr>
  {% endfor %}
</table>
 {% endblock content %}